*{
    box-sizing: border-box;
    padding: 0px;
    margin:0px;
}

body{
    background: rgb(56, 65, 83);
    color: white;
    padding:3px;
}

#explorer .item{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color:black;
    width:100px;
    height:100px;
    border-radius: 5px;
    transition: all 0.2s;
    cursor: pointer;
}

#explorer .item p{
    font-size:80%;
    word-wrap: break-word;
    width:100px;
    text-align: center;
}

#explorer .item img{
    display: block;
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
    padding-bottom:10px;
}

#explorer .item:hover{
    background-color:rgb(235, 235, 235);
}

#explorer{
    display:flex;
    gap: 50px 50px;
    padding: 40px;
    flex-wrap: wrap;
    width: 70vw;
    margin:auto;
    height:50vh;
    overflow-y: scroll;
    /*border: 2px solid rgb(141, 125, 125);*/
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    background: white;
    margin-top:30px;
}


#textCreator{
    padding: 50px 0px 0px 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#textCreator h1{
    font-weight: 100;
    padding-bottom:10px;
}

#text{
    outline: none;
    width: 70vw;
    height:300px;
    display: block;
    padding: 30px;
    margin-bottom:20px;
    background-image: url(../images/paper.jpg);
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.6) 0%,rgba(255, 255, 255, 0.6) 100%), url(../images/paper.jpg);
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    background-size:10%;
    font-size:150%;
    border-radius: 5px;
}

label{
    font-size:120%;
}

input[type=text]{
    padding: 10px;
    border-radius: 5px;
    outline-width: 0;
    border: 1px solid rgb(61, 61, 61);
}

input[type=submit]{
    color:rgb(56, 65, 83);
    padding:10px;
    cursor: pointer;
}
