*{
  margin:0;
  padding:0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

:root{
    --main-color: rgb(80, 80, 175);
    --main-hover: rgb(124, 124, 228);
}

body{
    min-height: 100vh;
    max-width: max-content;
    margin:auto;
}

header{
    padding: 100px 0px 50px 0px;
    color: var(--main-color);
    text-align: center;
}

header h1{
    padding: 10px 0px 10px 0px;
}

.activities{
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 30px 30px;
    align-items: flex-start;
}

.activities li a{
    padding: 12px 20px 12px 20px;
    background-color: var(--main-color);
    border-radius: 5px;
    color:white;
    cursor: pointer;
    text-decoration: none;
    font-weight: bold;
    transition: all 0.2s;
}

.activities li a:hover{
    background-color:var(--main-hover);
}



